<div class="account-entry">
  <div class="pull-right">
    <a class="favorite" ng-class="{'favorite-on': account.favorite}" href="#" ng-click="addFavorite(account)"></a>
    <a class="costs" ng-show="costsLink" href="{{costsLink}}{{account.AccountID}}" target="_blank"></a>
  </div>
  <h4><a href="#/console/{{account.Roles[0].URLSuffix}}">{{account.AccountName}}</a></h4>
  <table>
    <tr ng-repeat="role in account.Roles | orderBy:'Name'" class="row">
      <td>
        <span class="">{{role.Name}}:</span>
      </td>
      <td>
        <a class="arrow" href="#" ng-click="getCredentials(role)">Credentials</a>
      </td>
      <td>
        <a class="arrow" href="#/console/{{role.URLSuffix}}">AWSConsole</a>
      </td>
    </tr>
  </table>
</div>
