<div class="account-entry">
  <a class="favorite pull-right" ng-class="{'favorite-on': account.favorite}" href="#" ng-click="addFavorite(account)"></a>
  <h4>{{account.AccountName}}</h4>
  <table>
    <tr ng-repeat="role in account.Roles | orderBy:'Name'" class="row">
      <td>
        <span class="">{{role.Name}}:</span>
      </td>
      <td>
        <a class="arrow" href="#" ng-click="getCredentials(role)">Credentials</a>
      </td>
      <td>
        <a class="arrow" href="#/console/{{role.URLSuffix}}">AWSConsole</a>
      </td>
    </tr>
  </table>
</div>