<div class="header navbar navbar-fixed-top">
  <div class="left">
    <a href="#" title="Zur Startseite">
      <img alt="Your logo" src="logo.png" style="padding-right: 5px" onError="this.onerror=null;this.src='default-logo.png';">
    </a>
    <span>AWS Federation Proxy</span>
  </div>
  <div class="right" id="loginstatus">
    {{loginstatus.message}}
  </div>
</div>

<div class="loader" ng-show='showWaiting'>
  <div class="throbber-loader">
    Loading…
  </div>
</div>

<div class="align-center" ng-show="showError">
  <div class="alert alert-danger" role="alert">
    <h4>ERROR: {{error}}</h4>
  </div>
  <a href="#/" class="btn btn-primary" role="button">Back to Overview</a>
</div>