<div class="header navbar navbar-fixed-top">
  <div class="left">
    <a href="#" title="Zur Startseite">
      <img alt="Your logo" src="logo.png" style="padding-right: 5px" onError="this.onerror=null;this.src='default-logo.png';">
    </a>
    <span>AWS Federation Proxy</span>
  </div>
  <div class="right" id="loginstatus">
    {{loginstatus.message}}
  </div>
</div>

<div class="loader" ng-show='showWaiting'>
  <div class="throbber-loader">
    Loading…
  </div>
</div>

<div class="credentials" ng-show='showCredentials'>

  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'active': showCredentialsType === 'bash'}"><a href="#" ng-click="showCredentialsType = 'bash'">bash</a></li>
    <li role="presentation" ng-class="{'active': showCredentialsType === 'raw'}"><a href="#" ng-click="showCredentialsType= 'raw'">raw</a></li>
  </ul>


<textarea id="afp-credentials" readonly rows="7" onClick='document.getElementById("afp-credentials").select();' class="credentials-box" ng-show="showCredentialsType === 'bash'">
export AWS_ACCESS_KEY_ID={{credentials.AccessKeyId}}
export AWS_SECRET_ACCESS_KEY={{credentials.SecretAccessKey}}
export AWS_SESSION_TOKEN={{credentials.Token}}
export AWS_SECURITY_TOKEN=${AWS_SESSION_TOKEN}</textarea>
<textarea id="afp-credentials" readonly rows="7" class="credentials-box" ng-show="showCredentialsType === 'raw'">
AWS_ACCESS_KEY_ID={{credentials.AccessKeyId}}
AWS_SECRET_ACCESS_KEY={{credentials.SecretAccessKey}}
AWS_SESSION_TOKEN={{credentials.Token}}
AWS_SECURITY_TOKEN={{credentials.Token}}</textarea>
  <p>Expires at {{credentials.Expiration}}</p>
  <a href="#" class="btn btn-primary" role="button" ng-click="showCredentials = false">Close</a>
</div>

<div ng-include="'announcement.html'"></div>

<div class="align-center" ng-show="showError">
  <div class="alert alert-danger" role="alert">
    <h4>ERROR: {{error}}</h4>
  </div>
  <a href="#" class="btn btn-primary" role="button" ng-show="loginstatus.loggedin" ng-click="showError = false">Close</a>
</div>

<div class="row favorite-section" ng-show="favoriteCount">
  <div class="tile col-lg-12">
    <h3 class="page-header">Favorites</h3>
  </div>
  <div class="tile col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat-start="account in accounts | orderBy: 'AccountName' | filter:{'favorite': true}" ng-include="'templates/accountEntry.html'"></div>
  <div ng-repeat-end ng-class="{'clearfix visible-lg-block': (($index + 1) % 4 === 0), 'clearfix visible-md-block': (($index + 1) % 3 === 0), 'clearfix visible-sm-block': (($index + 1) % 2 === 0)}"></div>
</div>

<div class="row account-filter ng-cloak">
  <div class="tile col-lg-12 col-xs-12">
    <h3 class="page-header">Accounts</h3>
  </div>
  <div class="col-lg-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter (Account-Name or -ID)" id="filterQuery" name="filterQuery" ng-model="filterQuery" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="resetQuery(filterQuery)">reset</button>
      </span>
    </div>
  </div>
</div>

<div class="row ng-cloak">
  <div class="tile col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat-start="account in accounts | orderBy: 'AccountName' | filter:{'favorite': false} | filter:filterQuery" ng-include="'templates/accountEntry.html'"></div>
  <div ng-repeat-end ng-class="{'clearfix visible-lg-block': (($index + 1) % 4 === 0), 'clearfix visible-md-block': (($index + 1) % 3 === 0), 'clearfix visible-sm-block': (($index + 1) % 2 === 0)}"></div>
</div>

<div class="align-center" ng-show="accounts.length == 0">
  <div class="alert alert-info" role="alert" >
    <b>No accounts found.</b>
    You have no attached accounts.
  </div>
</div>