<div class="header navbar navbar-fixed-top">
  <div class="left">
    <a href="#" title="Zur Startseite">
      <img alt="Your logo" src="logo.png" style="padding-right: 5px" onError="this.onerror=null;this.src='default-logo.png';">
    </a>
    <span>AWS Federation Proxy</span>
  </div>
  <div class="right" id="loginstatus">
    {{loginstatus.message}}
  </div>
</div>
<div class="loader" ng-show='showWaiting'>
  <div class="throbber-loader">
    Loading…
  </div>
</div>
<div class="credentials" ng-show='showCredentials'>
  <textarea id="afp-credentials" readonly rows=7 onClick='document.getElementById("afp-credentials").select();' class="form-control">
export AWS_ACCESS_KEY_ID={{credentials.AccessKeyId}}
export AWS_SECRET_ACCESS_KEY={{credentials.SecretAccessKey}}
export AWS_SESSION_TOKEN={{credentials.Token}}
export AWS_SECURITY_TOKEN=${AWS_SESSION_TOKEN}
  </textarea>
  <p>Expires at {{credentials.Expiration}}</p>
  <a href="#" class="btn btn-info" role="button">Close</a>
</div>
<div class="align-center" ng-show="showError">
  <div class="alert alert-danger" role="alert">
    <h4>ERROR: {{error}}</h4>
  </div>
  <a href="#" class="btn btn-default" role="button" ng-show="loginstatus.loggedin">Close</a>
</div>
<div class="row">
  <div class="tile col-sm-6 col-lg-3" ng-repeat="account in accounts | orderBy: 'AccountName'">
    <h3>{{account.AccountName}}</h3>
    <ul>
      <li ng-repeat="role in account.Roles | orderBy:'Name'">
        <span>{{role.Name}}</span>
        <a class="arrow" href="#/credentials/{{role.URLSuffix}}">Credentials</a>
        <a class="arrow" href="#/console/{{role.URLSuffix}}">ManagementConsole</a>
      </li>
    </ul>
  </div>
</div>
<div class="align-center" ng-show="accounts.length == 0">
  <div class="alert alert-info" role="alert" >
    <b>No accounts found.</b>
    You have no attached accounts.
  </div>
</div>
